// variable definitions

@green: #27AE60;
@lgreen: #2ECC71;

// mixins

.animate(){
	transition-duration: 0.4s;
}

// globals

.head {
	//padding:0 0 5px;
	background:#222222;
	color:#ffffff;
	margin:0 auto;
	box-shadow:inset rgba(0,0,0,0.5) -1px -3px 7px;

	.title {
		font:12pt "proxima-nova", sans-serif;
		text-transform:uppercase;
		float:left;
		width:200px;

		img.icon {
			width:23px;
			vertical-align:middle;
			margin:0 3px;
			position:relative;
			top:2px;
		}

		span.label {
			display:inline-block;
			position:relative;
			top:4px;
		}
	}

	.nav {
		float:right;
		text-align:right;
		width:300px;

		a {
			color:#dddddd;
			font:10pt "proxima-nova", sans-serif;
			text-decoration:none;
			text-transform:uppercase;
			padding:5px 9px 7px;
			display:inline-block;

			&.active {
				border-top:2px solid #aaaaaa;
				padding-top:3px;
				color:#ffffff;
			}

			&:hover {
				color:#ffffff;
			}

			&.disabled {
				color:#666666;
				border-color:transparent;
				cursor:default;
			}
		}
	}
}

.feet {
	box-shadow:inset rgba(0,0,0,0.5) -1px 3px 7px;
	font:300 10pt "proxima-nova", sans-serif;
	background:#222222;
	color: #fff;

	.copy {
		color:#ffffff;
		padding:8px;
		margin:0 auto;
		float:left;
		width:500px;

		.cpy-label {
			color:#aaaaaa;
		}

		span {
			color:#666666;
		}

		a {
			color:#eee;
			text-decoration:none;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	.right {
		float: right;
		text-align: right;
		width: 300px;
		color: #666;
		padding: 8px 8px 0;

		span { color: darken(#ff0000, 20%); }
	}
}

html,body {
	margin: 0; padding: 0;
}

.clear {
	clear: both;
}
