@import url("../global.css");

body {
	background-color: #222;
}

.head {
	padding: 0 0 5px;
	background: #222;
	color: #fff;
	margin: 0 auto;
	box-shadow: inset rgba(0,0,0,0.5) -1px -3px 7px;
}

.head .title {
	font: 12pt "proxima-nova", sans-serif;
	text-transform: uppercase;
	float: left;
	width: 200px;
}

.head .title img.icon {
	width: 23px;
	vertical-align: middle;
	margin: 0 3px;
	position: relative; top: 2px;
}

.head .title span.label {
	display: inline-block;
	position: relative; top: 4px;
}

.head .nav {
	float: right;
	text-align: right;
	width: 300px;
}

.head .nav a {
	color: #ddd;
	font: 10pt "proxima-nova", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 5px;
	padding: 5px 3px 0;
	display: inline-block;
}

.head .nav a.active {
	border-top: 2px solid #aaa;
	padding-top: 3px;
	color: #fff;
}

.head .nav a:hover {
	color: #fff;
}

.head .nav a.disabled {
	color: #666;
	border-color: transparent;
	cursor: default;
}

.body {
	position: relative;
	margin: 0 auto;
	background-color: #eee;
}

.body svg circle,
.body svg text {
	cursor: pointer;
}

.body svg text {
	text-transform: uppercase;
}

.body .hide {
	position: absolute;
	left: -999999px;
	top: -999999px;
}

.body .idea {
	float: left;
	width: 110px; height: 200px;
	margin: 0 20px;
}

.body a,
.body a:visited {
	color: #000;
	text-decoration: none;
}

.body a:hover {
	text-decoration: underline;
}

.body .idea.idea-row-s {
	margin-left: 0;
}

.body .idea.idea-row-e {
	margin-right: 0;
}

.body .idea .idea-circle {
	width: 100px; height: 100px;
	border-radius: 100%;
	border: 5px solid rgba(255,255,255,0.5);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.body .idea.open .idea-circle {
	border-color: #70B8DE;
}

.body .idea .idea-title {
	font: 600 10pt "proxima-nova", "Helvetica Neue", sans-serif;
	text-align: center;
	width: 110px;
	margin-top: 5px;
}

.body .idea .pcou {
	font: italic 9pt "pt-sans", "Helvetica Neue", sans-serif;
	color: #aaa;
	margin-top: 5px;
	text-align: center;
	text-transform: uppercase;
	display: none;
}

/** square stuff **/

.body {
	width: auto;
}

.body .idea.square {
	margin: 0;
	width: 20%; height: 230px;
	color: #333;
}

.body .idea.square a {
	display: block;
	color: #333;
}

.body .idea.square .idea-circle {
	border-radius: 0;
	width: 100%; height: 200px;
}

.body .idea.idea-row-s.square .idea-circle {
	border-left: none;
}

.body .idea.open.square .idea-circle {
	border-color: rgba(255,255,255,0.5);
	border-width: 0;
}

.body .idea.square .idea-title {
	width: 100%;
	text-transform: uppercase;
}

.body .idea.new-idea {
	cursor: pointer;
}

.body .idea.new-idea .idea-circle {
	border: 0;
	display: block;
	font-size: 40pt;
	text-align: center;
	padding: 145px 0 5px;
	height: 50px;
	color: #888;
}

.feet {
	box-shadow: inset rgba(0,0,0,0.5) -1px 3px 7px;
	font: 300 10pt "proxima-nova", sans-serif;
}

.feet .copy {
	color: #fff;
	padding: 8px;
	margin: 0 auto;
}

.feet .copy .cpy-label {
	color: #aaa;
}

.feet .copy span {
	color: #666;
}

.feet .copy a {
	color: #fff;
	text-decoration: none;
}
