<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tb/idea/

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+) /tb/idea/index.php?id=$1 [L]

</IfModule>