<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tb/rss/

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+) /tb/rss/index.php?id=$1 [L]

</IfModule>
