@import "../../style/global";

body {
  background-color:#222222;
}

.all-content {
	height: auto;
}

.body {
	position:relative;
	margin:0 auto;
	background-color: #f5f5f5;
	width:auto;
	overflow-y: auto;

	a, a:visited {
		color:#000000;
		text-decoration:none;
	}

	svg circle {
		cursor:pointer;
		stroke: rgba(0,0,0,0.1);
	}

	svg text {
		cursor:pointer;
	}

	.idea-circle-link {
		position: absolute;
		display: inline-block;
	}

	.hide {
		position:absolute;
		left:-999999px;
		top:-999999px;
	}

	.woi-label {
		position: absolute; top: 42%; left: 48%;
		font: 16pt/1em "proxima-nova", sans-serif;
		color: #333;
		text-align: center;
		text-transform: uppercase;

		span { display:block; font-style: italic; font-family: "palatino", serif; text-transform: none; }
	}

	.idea {
		float:left;
		width:110px;
		height:200px;
		margin:0 20px;

		.idea-circle {
			width:100px;
			height:100px;
			border-radius:100%;
			border:5px solid rgba(255,255,255,0.5);
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center center;
		}

		.idea-title {
			font:600 10pt "proxima-nova", "Helvetica Neue", sans-serif;
			text-align:center;
			width:110px;
			margin-top:5px;
		}

		.pcou {
			font:italic 9pt "pt-sans", "Helvetica Neue", sans-serif;
			color:#aaaaaa;
			margin-top:5px;
			text-align:center;
			text-transform:uppercase;
			display:none;
		}
	}

	a:hover {
		text-decoration:underline;
	}

	.longform {
		background-color: @brown;

		.trans-arrow-back {
			border-width: 13px 13px 0;
			border-style: solid;
			border-color: darken(@brown, 20%) transparent transparent;
			width: 0; height: 0;
			position: absolute; right: 17px; top: -2px;
			display: none;
		}

		.trans-arrow {
			border-width: 10px 10px 0;
			border-style: solid;
			border-color: #f5f5f5 transparent transparent;
			width: 0; height: 0;
			position: absolute; right: 20px; top: -2px;
			display: none;
		}

		.longform-list {
			font-family: "futura-pt", sans-serif;

			.lf-post {
				width: 600px;
				margin: 0 auto 30px;
				text-align: center;

				.lf-post-title {
					width: 600px;
					a { font-weight: 400; font-size: 16pt; line-height: 1.2em; color: #fff; display:inline-block; }
				}

				.lf-post-meta {
					border-top: 1px solid @lbrown;
					margin-top: 5px;
					padding: 5px 10px 0;
					font-size: 10pt;
					font-family: "proxima-nova", sans-serif;
					color: lighten(@lbrown, 30%);
					display: inline-block;

					.sep { color: rgba(255,255,255,0.2); }
					a { color: lighten(@lbrown, 30%); }
				}
			}
		}
	}

	.instagram {
		background-color: #444;

		.ig-photos {
			width: 430px;
			margin: 0 auto;

			.ig-photos-row {

				a {
					display: inline-block;
					margin: 0 4px 0 0;

					&:hover img { border-color: rgba(0,0,0,0.5); }
					&:last-child { margin-right: 0; }
				}

				img {
					width: 100px; height: 100px;
					border: 1px solid rgba(0,0,0,0.2);
					border-radius: 100%;

					.animate(0.2s);
				}

				&:last-child a { margin-bottom: 0; }
			}
		}
	}

	.section {
		padding: 10px 0;
		position: relative;
		box-shadow: rgba(0,0,0,0.6) 0 -1px 10px;

		hr.stitch {
			width: 100%;
			border: 0;
			border-width: 1px 0;
			border-style: dashed;
			border-color: rgba(0,0,0,0.3) transparent rgba(255,255,255,0.3);
		}

		h3 {
			font: 16pt "proxima-nova", sans-serif;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			padding: 15px 0 30px;
		}

		&:last-child {
			padding-bottom: 20px;
		}
	}
}

