
@orange: #F39C12;
@green: #27AE60;
@lgreen: #2ECC71;

.CodeMirror {
	width: 520px;
	font: 16px/22px "brandon-grotesque", sans-serif;
}

.head {
	.bar {
		.nav {
			.edit-post {
				transition-duration: 0.3s;

				&.working { background-color: @orange; color: #fff; }
			}
			.save-post { 
				display: none; 
				background-color: @green;
				color: #fff;
				
				transition-duration: 0.3s;

				&:hover {
					background-color: @lgreen;
				}
			}
		}
	}
}

.body {
	.post {
		.post-title-wrap {
			.post-title:focus {
				outline: 0;
			}
		}

		.form {
			width: 520px; 
			background-color: #fff; color: #333;
			position: relative; left: 30px; top: 25px;
			float: left;
			padding: 8px 11px;
			font-weight: 400;
			opacity: 1;

			transition-duration: 0.3s;

			&.hide {
				opacity: 0;
			}
		}
	}

	&.editing {
		.post {
			overflow-x: hidden;

			.post-body {
				position: relative; left: 50px;
				float: left;
			}
		}
	}
}
