@import "../../style/global";

.post-body-width {
	width: 500px;
	margin: 1em auto;
}

::selection {
	background-color: #fff;
	color: @brown;
}

body {
	background-color: #222;
}

.body {
	background-color: #f5f5f5;

	.post {
		font: 300 18px/1.3em "chaparral-pro", serif;
		color: #333;
		min-height: 100vh;

		.post-meta-wrap {
			background-color: #fff;
			padding: 20px 0;

			.post-meta {
				width: 500px;
				margin: 0 auto;
				font: 400 11pt "proxima-nova", sans-serif;

				a {
					color: #333;
					text-decoration: none;
				}

				.sep {
					color: rgba(0,0,0,0.2);
				}

				.ttr {
					.icon-book { }
				}
			}
		}

		.post-title-wrap {
			font: 500 32px/1.2em "futura-pt", sans-serif;
			background-color: #fff;
			color: #333;
			padding: 350px 0 0;
			position: relative;

			.animate(0.3s);

			.post-title {
				width: 500px;
				margin: 0 auto;
			}

			.post-cover-text {
				background-color: rgba(0,0,0,0.5);
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				font: italic 300 10pt "brandon-grotesque", sans-serif;
				color: #fff;
				padding: 2px 4px;
				border-radius: 0 0 5px 0;

				&.hide { display: none; }
				
				p { margin: 0; }
				a { color: #fff; }
			}
		}

		.post-body {
			padding: 20px 0;

			.ligatures;
			.animate();

			blockquote {
				.post-body-width;
				font-style: italic;
				border-left: 3px solid @lred;
				color: lighten(@lred, 35%);
				margin: 0; padding: 0 20px;

				p {
					&:first-child { margin-top: 0; }
					&:last-child { margin-bottom: 0; }
				}
			}

			pre {
				.post-body-width;
				background-color: #ECF0F1;
				padding: 10px 20px;
				border-radius: 5px;
				box-shadow: inset rgba(0,0,0,0.5) 1px 1px 10px;

				code {
					font-size: 10pt;
					color: #333;
				}
			}

			cite {
				&.aside {
					font-size: 15px;
					line-height: 1.2em;
					width: 100px;
					position: absolute;
					border-top: 1px solid @brown;
					padding-top: 5px;
					color: @brown;

					&.left { left: -110px; }
				}
			}

			em {
				margin-right: 1px;//to avoid ascenders getting cut off
			}

			img {
				width: 600px;
			}

			hr {
				border: 0;
				border-top: 3px dotted @lbrown;
				margin: 2em auto;
				width: 15px;
			}

			h2 {
				.post-body-width;
				font: 400 16pt "futura-pt", sans-serif;
				text-transform: uppercase;
				margin: 1.3em auto 0.3em;
			}

			p {
				.post-body-width;
				position: relative;

				a {
					color: @brown;

					&:hover {
						text-decoration: none;
					}
				}

				strong {
					font-weight: 400;
				}

				&.intro {
					font-size: 24px;
					line-height: 1.2em;
					//font-style: italic;
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			h2 + p {
				margin-top: 0.3em;
			}
		}
	}

	.sep {
		width: 20px;
		margin: 0 auto;
		text-align: center;
		padding: 20px 0;

		.outer-circle {
			display: inline-block;
			border: 2px solid @lbrown;
			border-radius: 100%;
			padding: 0 6px 2px;

			.inner-circle {
				display: inline-block;
				background-color: @lbrown;
				border-radius: 100%;
				width: 8px; height: 8px;
			}
		}
	}
}
